.about .about-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2c4047;
}

.about .about-text {
  padding: 2rem;
}

.about .about-img-container img {
  width: 244px;
  height: 244px;
  object-fit: cover;
}
